.filters {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

.filters:before,
.filters:after {
  content: "";
  display: table;
}

.filters:after {
  clear: both;
}
